:root {
--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);
--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
--Light-slate-blue: hsl(252, 100%, 67%);
--Light-royal-blue: hsl(241, 81%, 54%);
--Violet-blue: hsla(256, 72%, 46%, 1);
--Persian-blue: hsla(241, 72%, 46%, 0);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    box-sizing: border-box;
}
/* start globel rols */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/* end globel rols */

ul {
    list-style: none;
}
.container {
    height: 100vh;
}
/* start result section */
.container .result,
.container .summary{
    border-radius: 20px;
    height: 470px;
    width: 400px;
    box-shadow: 0 0 10px #777;
}
.container .result {
    padding: 20px;
    background-image: linear-gradient(var(--Light-slate-blue) , var(--Light-royal-blue));
}
.container .result .titel {
  color: var(--Light-lavender);
  font-size: 25px;
  letter-spacing: 1px;
}
.container .result .result__crical {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    background-image: linear-gradient(var(--Violet-blue) , var(--Persian-blue));
    padding: 10px;
}
.container .result .result__crical .num {
    font-size: 70px;
}
.container .result .result__crical .from {
    color: var(--Light-lavender);
    font-size: 18px;
    opacity: 0.5;
}
.container .result .discraption .heading-line {
    font-size: 30px;
    letter-spacing: 1px;
}
.container .result .discraption .secodry-line {
  color: var(--Light-lavender);
  line-height: 1.5;
  margin-top: 10px;
  font-size: 19px;
  padding: 0px 50px;
}


/* end result section */
/* start summary section */
.container .summary {
  background-color: var(--White);
  margin-left: -20px;
  border-radius: 0px 10px 10px 0px;
  display: grid;
  place-content: center;
}
@media(max-width:768px){
  .container .summary {
    margin-top: -10px;
  }
}
.summary h3.titel {
    color: hsl(224, 30%, 27%);
    font-size: 25px;
    text-transform: capitalize;
    padding-top: 20px;
}
.summary ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-start;
    height: 50px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin-left: -25px;
}
.summary ul .Reaction {
    color: var(--Light-red);
}
.summary ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.summary ul li span.titel {
    font-size: 20px;
}
.summary ul li .percent {
    margin-left: auto;
}
.summary ul li .percent .one-hundred{
  margin-left: 5px;
  opacity: 0.4;
}
.summary .button {    text-align: center;
    margin: 30px;
    border-radius: 30px;
    padding: 10px;
    background-color: var(--Dark-gray-blue);
    cursor: pointer;
}
.summary .button:hover {
  background-image: linear-gradient(var(--Light-slate-blue) , var(--Light-royal-blue));
}
.summary .button a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}
/* end summary section */
